:root {
    --color: #f2eac7
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(80,87,102,1) 0%, rgba(44,48,99,1) 100%);
    font-family: 'Urbanist', sans-serif;
}

header {
    background-color: rgb(68,68,68,0);
    color: white;
    height: 7vh;
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 500ms background-color ease-in-out 0.1s;
}

header.scrolled {
    background-color: rgb(68,68,68);
}

.furcio {
    width: 160px;
    min-width: 160px;
}

.furcio:hover {
    cursor: pointer;
}

nav ul {
    width: 350px;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
}

li {
   list-style-type: none;
   font-size: 1.4rem;
   cursor: pointer;
}

#content {
    height: auto;
}

.intro {
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 85px;
    color: white;
    position: relative;
}

.intro::before {
    position: absolute;
    top: -80px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    content: '';
    background: url('sirloin-background.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
}

.intro h2, .intro-btn {
    position: relative;
}

.intro h2 {
    font-size: 2.8rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
}

.intro-btn {
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    cursor: pointer;
    border: 2px groove white;
    border-radius: 16px;
    font-size: 1.3rem;
    padding: 8px;
    transition: 200ms all ease-in-out;
}

.intro-btn:hover, .contact-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.intro-btn:active, .contact-btn:active {
    transform: scale(1);
}

.reviews {
    height: 30vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews h2 {
    text-align: center;
    padding: 30px;
    font-size: 1.8rem;
    height: 10%;
}

.reviews-body {
    display: flex;
    justify-content: space-around;
    height: 85%;
}

.scores {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.google-score, .yelp-score {
    display: flex;
    gap: 10px;
}

.google-score img, .yelp-score img {
    width: 120px;
    height: 120px;
}

.score-info {
    font-size: 1.3rem;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.testimonies {
    width: 70%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    padding: 0 12px 0 6px;
}

.testimony {
    background-color: rgb(230, 244, 253);
    width: 800px;
    height: 160px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 4px;
    margin-right: 20px;
    border-radius: 16px;
    box-shadow: 0px 0px 8px 2px rgb(212, 237, 252);
}

.testimony-text {
    font-size: 1.1rem;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimony-name {
    font-size: 1rem;
    align-self: flex-end;
    font-style: italic;
}

.about {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background-color: rgb(41, 39, 39);
}

.about p {
    font-size: 1.3rem;
    width: 50%;
    min-width: 400px;
    border-radius: 50px;
    padding: 40px;
    color: white;
    line-height: 1.7;
}

.about img {
    height: 70%;
    width: 25%;
    min-width: 300px;
    object-fit: cover;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.hours {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    background: linear-gradient(90deg, var(--color) 0%, #dbd5b9 100%);
}

.hours ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.hours ul li {
    letter-spacing: 0.05rem;
    font-size: 1.8rem;
    font-weight: bold;
}

.characteristics {
    height: 90vh;
    background: rgb(99, 17, 17);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.characteristics-div {
    background:rgb(41, 39, 39);
    height: 520px;
    width: 15%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px 1px rgb(15, 14, 14);
}

.characteristics-div:nth-child(odd) {
    margin-bottom: 100px;
}

.characteristics-div:nth-child(even) {
    margin-top: 100px;
}

.characteristics-div img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    align-self: center;
    padding: 12px;
    border-radius: 12px;
}

.characteristics-div p, .characteristics-div h2 {
    color: var(--color);
}

.characteristics-div h2 {
    padding: 12px;
}

.characteristics-div p {
    height: 35%;
    width: 100%;
    line-height: 1.5rem;
    padding: 12px;
}

.gallery {
    background: rgb(31, 0, 0);
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-pics {
    width: 70%;
    height: 75%;
    min-width: 500px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    gap: 50px;
}

.gallery-pics img {
    padding: 20px;
    object-fit: cover;
    width: 550px;
    height: 100%;
}

.map {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    min-width: 500px;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}

.map-container iframe {
    height: 100%;
    width: 50%;
    border: none;
}

.map-info {
    height: 50%;
    width: 30%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 50px;
    color: white;
    font-size: 1.3rem;
    gap: 20px;
}

.contact-btn {
    background-color: rgba(0, 0, 0, 0.4);
    width: 200px;
    color: white;
    cursor: pointer;
    border: 2px groove white;
    border-radius: 16px;
    font-size: 1.2rem;
    padding: 8px;
    transition: 200ms background-color ease-in-out;
    
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    font-family: 'IBM Plex Serif', serif;
    margin-top: 40px;
}

.footer-container {
    width: 60%;
    border-top: 1px solid white;
    color: white;
    padding: 16px;
    font-size: 1rem;
}

.footer-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 15%;
    min-width: 100px;
    font-size: 1.6rem;
}

.icon {
    color: white;
}

#menu-page {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 80px;
}

#menu-page h2 {
    font-size: 2rem;
    color: white;
    width: 100%;
    text-align: center;
    padding: 8px;
    background: rgb(88, 3, 3);
}

.menu-item {
    width: 70%;
    min-width: 500px;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    color: white;
    padding: 12px;
    gap: 10px;
}

.menu-item:nth-child(even) {
   flex-direction: row-reverse;
}

.item-info {
    width: 40%;
}

.item-info p {
    text-align: center;
    margin-top: 20px;
}

.menu-item p {
    font-size: 1.4rem;
}

.menu-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 15px 2px black;
}

.menu-item a {
    height: 90%;
    width: 30%;
    min-width: 300px;
}

#contact-page {
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

#contact-page h2 {
    font-size: 3rem;
    font-weight: normal;
    color: white;
}

#contact-page p {
    font-size: 1.5rem;
    color: white;
}

.form {
    margin-top: 50px;
    border: 1px solid black;
    width: 60%;
    min-width: 400px;
    padding: 20px;
    justify-self: center;
    background-color: var(--color);
    border-radius: 4px;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    width: 50%;
}

form input, form textarea {
    margin: 5px 0px 20px 0;
    padding: 4px;
    font-size: 1.3rem;
}

.form-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

button {
    padding: 6px;
    width: 10%;
    min-width: 80px; 
}

button[type='submit'] {
    background: green;
    color: white;
    border: 1px solid rgb(1, 56, 1);
}

button[type='reset'] {
    background: rgb(143, 5, 5);
    color: white;
    border: 1px solid rgb(107, 3, 3);
}

button:active {
    transform: scale(0.9);
}

/* SCROLL ANIMATION */

.reveal-first, .reveal {
    position: relative;
    opacity: 0;
}

.reveal-first.active, .reveal.active {
    opacity: 1;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in-out;
}

.active.fade-left {
    animation: fade-left 1s ease-in-out;
}

.active.fade-right {
    animation: fade-right 1s ease-in-out;
}

.active.fade-top {
    animation: fade-top 1s ease-in-out;
}

@keyframes fade-top {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes fade-bottom {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

@keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}
  
@keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
}

/* MEDIA QUERIES */
  
@media screen and (max-width: 900px) {
   
    header {
        flex-direction: column;
        height: auto;
    }

    .furcio {
        padding: 16px;   
    }

    nav ul {
        min-width: 240px;
        padding: 8px;   
    }

    li {
        font-size: 1.3rem;
    }

    .intro {
        gap: 60px;
    }

    .intro::before {
        top: -140px;
    }

    .intro h2 {
        font-size: 1.6rem;
        padding: 12px;
    }

    .intro-btn {
        font-size: 1rem;
        width: 140px;
        padding: 8px
    }

    .reviews-body, .about, .characteristics, .map-container { 
        flex-direction: column;
        height: auto;
    }

    .reviews, .hours, .map {
        height: auto;
    }

    .reviews {
        padding: 20px 0 40px 0;
    }

    .reviews-body {
        align-items: center;
        gap: 40px;
    }

    .scores {
        width: 100%;
        justify-content: space-around;
    }

    .google-score img, .yelp-score img {
        width: 100px;
        height: 100px;
    }

    .score-info {
        font-size: 1rem;
    }

    .testimonies {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        width: 100%;
    }

    .testimony {
        width: 500px;
        height: 140px;
        padding: 12px;
    }

    .testimony-text {
        font-size: 0.9rem;
    }

    .testimony-name {
        font-size: 0.8rem;
    }

    .about {
        flex-direction: column-reverse;
        padding: 40px 0 30px 0;
    }

    .about p {
        font-size: 1.1rem;
        line-height: 1.6;
        width: 100%;
    }

    .about img {
        margin-top: 20px;
    }
    
    .hours {
        padding: 8px;
    }

    .hours ul li {
        font-size: 1.2rem;
        text-align: center;
    }

    .characteristics-div:nth-child(odd), 
    .characteristics-div:nth-child(even) {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .characteristics {
        padding: 40px;
        gap: 40px;
    }

    .characteristics-div {
        height: 400px;
        min-width: 270px;
    }

    .characteristics-div h2 {
        padding: 8px;
        font-size: 1.1rem;
    }

    .characteristics-div p {
        font-size: 0.9rem;
        line-height: 1.3rem;
        padding: 8px;
    }

    .characteristics-div img {
        padding: 8px;
    }

    .gallery-pics {
        width: 85%;
        height: 80%;
        min-width: 350px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    .gallery-pics img {
        width: 400px;
    }

    .map-container {
        margin-top: 20px;
        min-width: 300px;
    }

    .map-container iframe {
        width: 100%;
        height: 300px;
    }

    .map-info {
        width: 100%;
        font-size: 1.1rem;
        margin-left: 0;
        text-align: center;
    }

    .footer-container {
        width: 80%;
    }

    .menu-item {
        min-width: 350px;
        height: 350px;
        width: 80%;
        gap: 30px;
    }

    .menu-item p {
        font-size: 1.1rem;
    }

    #contact-page {
        gap: 20px;
    }

    #contact-page h2 {
        font-size: 2rem;
    }

    #contact-page p {
        font-size: 1.2rem;
    }

    .form {
        width: 70%;
        min-width: 300px;
    }

    form input {
        width: 70%;
    }

    form input, form textarea {
        font-size: 1rem;
    }

}

@media screen and (max-width: 500px) {


    nav ul {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .intro::before {
        top: -200px;
    }

    .intro h2 {
        font-size: 1.3rem;
        padding: 8px;
        text-align: center;
    }

    .scores {
        flex-direction: column;
        gap: 20px;
    }

    .testimonies {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }

    .testimony {
        width: 270px;
    }

    .testimony-text {
        font-size: 0.8rem;
    }

    .testimony-name {
        font-size: 0.7rem;
    }

    .about p {
        font-size: 0.9rem;
        min-width: 280px;
    }

    .about img {
        min-width: 250px;
    }

    .hours ul {
        flex-direction: column;
        gap: 12px;
    }

    .hours ul li {
        font-size: 1rem;
    }

    .gallery {
        height: 60vh;
    }

    .gallery-pics {
        width: 80%;
        height: 70%;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        min-width: 250px;
    }

    .gallery-pics img {
        width: 250px;
    }

    .map-container {
        min-width: 250px;
    }

    #menu-page {
        gap: 60px;
    }

    .menu-item, .menu-item:nth-child(even) {
        flex-direction: column-reverse;
    }

    .menu-item {
        height: auto;
        gap: 4px;
        min-width: 250px;
    }

    .menu-item a {
        min-width: 250px;
    }

    .menu-item img {
        height: 250px;
    }

    .footer-top {
        flex-direction: column;
        gap: 8px;
    }

    .form {
        min-width: 260px;
    }

}